<p>Search for a location</p>

<%= form_tag locations_path, method: :get do %>
	<%= label_tag(:start_date, "Check In") %>
	<%= text_field_tag(:start_date, nil, id: "datepicker") %>
	<%= label_tag(:end_date, "Check Out") %>
	<%= text_field_tag(:end_date, nil, id: "datepicker") %>
	<%= label_tag(:city, "City") %>
	<%= select_tag(:city, options_for_select(Location.city_names), prompt: "Select City")%>
	<%= label_tag(:region, "State/Province") %>
	<%= select_tag(:region, options_for_select(Location.region_names), prompt: "Select State/Region") %>
	<%= submit_tag "Search For Location" %>
<% end %>
