<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<% @location.location_images.each do |image| %>

  <%= image_tag image.picture.url %>

<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<div>
	<%= form_for Reservation.new do |f| %>
		<%= f.text_field :start_date, value: Date.tomorrow %>
		<%= f.text_field :end_date, value: Date.today + 2.days %>
		<%= f.hidden_field :location_id, value: @location.id %>
		<%= f.submit "Reserve Location" %>
	<% end %>	

</div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  // markers = handler.addMarker(<%=raw @coordinates.to_json %>);
	  markers = handler.addCircle(<%=raw @coordinates.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds(markers);
	  handler.getMap().setZoom(15);
	});
</script>
