<!DOCTYPE html>
<html>
<head>
  <title>SpikeLocation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.24&key=AIzaSyCHICuDraytGDnIjyac7j-3SyJ8haCZ28A" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
